@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
.so-widget-sow-headline-default-92b76a5bf95c #sow-headline-container.sow-headline h1 {
  font-family: Open Sans;
  font-weight: 300;
  text-align: center;
  color: #333333;
  line-height: 1.4;
}
.so-widget-sow-headline-default-92b76a5bf95c #sow-headline-container.sow-headline h3 {
  text-align: center;
  color: #000000;
  line-height: 1.4;
}
.so-widget-sow-headline-default-92b76a5bf95c #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}